.mt20 {
	
}

.right, .fr {
	float: right;
}

.laypage_main .laypage_total .laypage_btn {
	padding: 0 8px;
	border: 1px solid #d3d3d3;
	height: 22px;
	line-height: 22px;
	background: #fff;
	font-family: Microsoft Yahei;
	border-radius: 4px;
	cursor: pointer;
	position: relative;
	top: 1px;
}