<html lang="UTF-8">
<head>
    <meta charset="UTF-8">
    <title>PieIFO</title>
    <link rel="shortcut icon" type="image/x-icon" href="/resource/icon.png" media="screen" />
    {% include head.html %}
<body>
<header class="header">
    <div class="container">
        <div class="row">
            <div class="logo">
                <a href="/" style="float: left"><img src="{{ site.headerLogo }}"></a>
            </div>
            <nav class="nav" style="float: right">
                {% for link in site.headerContent %}
                <a href="{{link['href']}}" target="_self">{{ link['typeName'] }}</a>
                {% endfor %}
            </nav>
            <div class="headtitle">比特派运营的专业分叉信息站</div>
        </div>
    </div>
</header>
</body>
</html>
</head>
<body>
<div class="projects">
    <div class="container">
        <div class="row coinlist">
            <div class="projects-filter clearfix">
                {% for link in site.contentForkMenu %}
                <span class="{{link['className']}}">{{link['menuName']}}</span>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <ul class="clearfix coininfo">
                {% for link in site.btForkInfo %}
                <li class="col-xs-12 col-md-4">
                    <a href="{{link['imageHref']}}"><img
                            src="{{link['imageUrl']}}"></a>
                    <div class="hot-info">
                        <h3>{{link['coinName']}}</h3>
                        <p>{{link['coinInfo']}}</p>
                        <div class="row details">
                            <div class="col-xs-3">
                                <em>
                                    {{link['blockHight']}}
                                </em>
                                <br/>
                                <span>{{link['blockHightTitle']}}</span>
                            </div>

                            <div class="col-xs-3">
                                <em class="{{link['currentHightClass']}}">
                                    {{link['currentHight']}}
                                </em>
                                <br/>
                                <span>{{link['currentHightTitle']}}</span>
                            </div>

                            <div class="col-xs-4">
                                <p class="{{link['timeClass']}}">{{link['time']}}</p>
                                <br/>
                                <span class="{{link['timeTitleClass']}}">{{link['timeTitle']}}</span>
                            </div>
                        </div>
                        <a href="{{link['btnHref']}}" class="btn">{{link['btnTitle']}}</a>
                    </div>
                    <div class="pro-status ongoing" style="background-color: {{link['stateColor'}}">
                        {{link['stateTitle']}}
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% include js.html %}
<script type="text/javascript">
    $(".forkall").click(updateForkAll)

    $(".forking").click(updateForking)

    $(".forkend").click(updateForkend)


    function updateForkAll() {
        $(".coininfo").empty();
        $(".coininfo").append("{% for link in site.btForkInfo %}\n" +
            "                <li class=\"col-xs-12 col-md-4\">\n" +
            "                    <a href=\"{{link['imageHref']}}\"><img\n" +
            "                            src=\"{{link['imageUrl']}}\"></a>\n" +
            "                    <div class=\"hot-info\">\n" +
            "                        <h3>{{link['coinName']}}</h3>\n" +
            "                        <p>{{link['coinInfo']}}</p>\n" +
            "                        <div class=\"row details\">\n" +
            "                            <div class=\"col-xs-3\">\n" +
            "                                <em>\n" +
            "                                    {{link['blockHight']}}\n" +
            "                                </em>\n" +
            "                                <br/>\n" +
            "                                <span>{{link['blockHightTitle']}}</span>\n" +
            "                            </div>\n" +
            "\n" +
            "                            <div class=\"col-xs-3\">\n" +
            "                                <em class=\"{{link['currentHightClass']}}\">\n" +
            "                                   {{link['currentHight']}}" +
            "                                </em>\n" +
            "                                <br/>\n" +
            "                                <span>{{link['currentHightTitle']}}</span>\n" +
            "                            </div>\n" +
            "\n" +
            "                            <div class=\"col-xs-4\">\n" +
            "                                <p class=\"{{link['timeClass']}}\">{{link['time']}}</p>\n" +
            "                                <br/>\n" +
            "                                <span class=\"{{link['timeTitleClass']}}\">{{link['timeTitle']}}</span>\n" +
            "                            </div>\n" +
            "                        </div>\n" +
            "                        <a href=\"{{link['btnHref']}}\" class=\"btn\">{{link['btnTitle']}}</a>\n" +
            "                    </div>\n" +
            "                    <div class=\"pro-status ongoing\" style=\"background-color: {{link['stateColor'}}\">\n" +
            "                        {{link['stateTitle']}}\n" +
            "                    </div>\n" +
            "                </li>\n" +
            "                {% endfor %}")
        displayBlockHight();
    }

    function updateForking () {
        $(".coininfo").empty();
        $(".coininfo").append("{% for link in site.btForkInfo %}\n" +
            "                {% if link['state'] == 0 %}\n" +
            "                <li class=\"col-xs-12 col-md-4\">\n" +
            "                    <a href=\"{{link['imageHref']}}\"><img\n" +
            "                            src=\"{{link['imageUrl']}}\"></a>\n" +
            "                    <div class=\"hot-info\">\n" +
            "                        <h3>{{link['coinName']}}</h3>\n" +
            "                        <p>{{link['coinInfo']}}</p>\n" +
            "                        <div class=\"row details\">\n" +
            "                            <div class=\"col-xs-3\">\n" +
            "                                <em>\n" +
            "                                    {{link['blockHight']}}\n" +
            "                                </em>\n" +
            "                                <br/>\n" +
            "                                <span>{{link['blockHightTitle']}}</span>\n" +
            "                            </div>\n" +
            "                            <div class=\"col-xs-3\">\n" +
            "                                <em class=\"{{link['currentHightClass']}}\">\n" +
            "                                   {{link['currentHight']}}" +
            "                                </em>\n" +
            "                                <br/>\n" +
            "                                <span>{{link['currentHightTitle']}}</span>\n" +
            "                            </div>" +
            "                            <div class=\"col-xs-4\">\n" +
            "                                <b data-deadline=\"2017-09-01 20:00:00\" class=\"deadline\"></b>\n" +
            "                                <p class=\"{{link['timeClass']}}\">{{link['time']}}</p>\n" +
            "                                <br/>\n" +
            "                                <span class=\"{{link['timeTitleClass']}}\">{{link['timeTitle']}}</span>\n" +
            "                            </div>\n" +
            "                        </div>\n" +
            "                        <a href=\"{{link['btnHref']}}\" class=\"btn\">{{link['btnTitle']}}</a>\n" +
            "                    </div>\n" +
            "                    <div class=\"pro-status ongoing\" style=\"background-color: {{link['stateColor'}}\">\n" +
            "                        {{link['stateTitle']}}\n" +
            "                    </div>\n" +
            "                </li>\n" +
            "                {% endif %}\n" +
            "                {% endfor %}");
        displayBlockHight();
    }

    function updateForkend() {
        $(".coininfo").empty();
        $(".coininfo").append("{% for link in site.btForkInfo %}\n" +
            "                {% if link['state'] == 1 %}\n" +
            "                <li class=\"col-xs-12 col-md-4\">\n" +
            "                    <a href=\"{{link['imageHref']}}\"><img\n" +
            "                            src=\"{{link['imageUrl']}}\"></a>\n" +
            "                    <div class=\"hot-info\">\n" +
            "                        <h3>{{link['coinName']}}</h3>\n" +
            "                        <p>{{link['coinInfo']}}</p>\n" +
            "                        <div class=\"row details\">\n" +
            "                            <div class=\"col-xs-3\">\n" +
            "                                <em>\n" +
            "                                    {{link['blockHight']}}\n" +
            "                                </em>\n" +
            "                                <br/>\n" +
            "                                <span>{{link['blockHightTitle']}}</span>\n" +
            "                            </div>\n" +
            "                            <div class=\"col-xs-3\">\n" +
            "                                <em class=\"{{link['currentHightClass']}}\">\n" +
            "                                   {{link['currentHight']}}" +
            "                                </em>\n" +
            "                                <br/>\n" +
            "                                <span>{{link['currentHightTitle']}}</span>\n" +
            "                            </div>" +
            "                            <div class=\"col-xs-4\">\n" +
            "                                <b data-deadline=\"2017-09-01 20:00:00\" class=\"deadline\"></b>\n" +
            "                                <p class=\"{{link['timeClass']}}\">{{link['time']}}</p>\n" +
            "                                <br/>\n" +
            "                                <span class=\"{{link['timeTitleClass']}}\">{{link['timeTitle']}}</span>\n" +
            "                            </div>\n" +
            "                        </div>\n" +
            "                        <a href=\"{{link['btnHref']}}\" class=\"btn\">{{link['btnTitle']}}</a>\n" +
            "                    </div>\n" +
            "                    <div class=\"pro-status ongoing\" style=\"background-color: {{link['stateColor'}}\">\n" +
            "                        {{link['stateTitle']}}\n" +
            "                    </div>\n" +
            "                </li>\n" +
            "                {% endif %}\n" +
            "                {% endfor %}");
        displayBlockHight();
    }

    $(document).ready(function(){
        displayBlockHight();
    });

    function modifyTimeValue(hight) {
        var blockHight = "{%for link in site.btForkInfo%} {{link['blockHight']}}{% endfor %}";
        var timeClass = "{%for link in site.btForkInfo%} {{link['timeClass']}}{% endfor %}";
        var timeTitle = "{%for link in site.btForkInfo%} {{link['timeTitleClass']}}{% endfor %}";
        var blockHightArr = blockHight.split(" ");
        var timeClassArr = timeClass.split(" ");
        var timeTitleArr = timeTitle.split(" ");
        for (var i = 0; i < timeClassArr.length; i ++) {
            if (i != 0) {
                if ($("." + timeClassArr[i]).text() != "0") {
                    var timeDiscrepancy = (blockHightArr[i] - hight) * 10 * 60 * 1000;
                    if (timeDiscrepancy > 0) {
                        var days = Math.floor(timeDiscrepancy/(24*3600*1000))
                        var leave1 = timeDiscrepancy % (24 * 3600 * 1000)
                        var hours = Math.floor(leave1 / (3600 * 1000))
                        $("." + timeTitleArr[i]).text("倒计时(预估)");
                        $("." + timeClassArr[i]).text(days + "天" + hours + "小时");
                    } else {
                        $("." + timeTitleArr[i]).text("倒计时");
                    }
                }
            }
        }
    }

    function displayBlockHight() {
        $.get("https://bitpie.getcai.com/api/v1/bitcoind/status?currentstring=" + new Date().getTime(),{},function(data){
            var blockhight = data.headers;
            var hightStr = "{%for link in site.btForkInfo%} {{link['currentHightClass']}}{% endfor %}";
            var hightArr = hightStr.split(" ");
            for (var i = 0; i < hightArr.length; i ++) {
                if (i != 0) {
                    $("." + hightArr[i]).text(blockhight);
                    modifyTimeValue(blockhight);
                }
            }
        })
    }

</script>
</body>
</html>
